body {
  font-family:var(--font-family);
  margin: 0;
  padding: 0;
  background-color:#223;
}

.nav-bar {
  background-color: #223;
  color:var(--color-bg-text);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar a {
  color: var(--color-bg-text);
  text-decoration: none;
  margin: 0 10px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color:#e1a95f;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.git-command {
  margin-bottom: 20px;
  text-align: unset;
}

.timer {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0;
  position: fixed; 
  bottom: 0; 
  width: 100%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); 
}

.time-segment {
  text-align: center;
  margin: 0 15px;
}

.time-segment span {
  font-size: 2rem;
}

.time-segment p {
  font-size: 1rem;
}
