* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
}

html {
    height: 100vh;
}

.nav-bar{
    margin-bottom: 20px;
}

.main-content {
    margin-top: 100px;
    flex-grow: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 280px) 280px;
    gap: 30px; 
    max-width: 800px; 
    margin: 0 auto; 
    
}


.box {
    background-color: var(--color-content-section);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-button-hover);
    font-size: var(--font-size-h3);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px; 
    overflow: hidden; 
    text-align: center; 
}

.box__title {
    font-size: 1.2rem;
    color: var(--color-bg-text);
    margin: 0; 
    line-height: 1.4; 
    font-family: var(--font-family);
    text-align: center;
}


.box:hover {
    animation: vibrate 0.5s linear; 
    animation-iteration-count: 3;
    }

    


    @keyframes vibrate {
        0%, 100% { transform: translateX(0); }
        20% { transform: translateX(-2px); }
        40% { transform: translateX(2px); }
        60% { transform: translateX(-2px); }
        80% { transform: translateX(2px); }
    }
    

    
@media screen and (max-width: 768px) {

    .box__title {
        font-size: 1rem;
    }
    

    .grid-container {
        display: grid; 
        grid-template-columns: 1fr; 
        gap: 20px;
        margin-left: 20px;
        margin-right: 20px;
        
    }

    .box {
        height: auto; 
        width: 100%; 
        grid-column: auto;
        
        
        
    }

}
